/* large.css */
@media (min-width: 650px) {
    #menuButton {
        display: none;
    }

    #navMenu {
        display: block !important;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--color-white);
    }

    nav li {
        border-left: solid 2px var(--color-white);
    }

    nav a {
        text-decoration: none;
        color: #111827;
        font-weight: 500;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        /* add spacing */
        align-items: center;
    }

    .hero-img {
        max-width: 100%;
    }

    .community-info {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: 2rem;
        padding: 2rem;
        background-color: #BFEAF8;
        align-items: center;
    }

    .activities {
        display: grid;
        grid-template-columns: 1.5fr 1fr 1fr;
        padding: 0 1rem;
        gap: 10px;
        align-items: start;
        margin-bottom: 2rem;
    }

    .business-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 1rem;
        gap: 10px;
        align-items: start;
        margin-bottom: 2rem;
    }

    .business-info-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        padding: 1rem;
        min-height: 150px;
        background-color: var(--color-primary1-blue);
    }

}