@media only screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

    main {
        position: relative;
        padding: 1rem;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 10px;
    }
}

/* MAIN*/
@media (min-width: 40rem) {
    .hero-img {
        min-width: 100%;
        height: auto;
        display: block;
    }

    .keynote {
        right: 10%;
        bottom: 35%;
        font-size: 1.1rem;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* Desktop and wide screens */
@media (min-width: 64rem) {
    .keynote {
        right: 10%;
        bottom: 20%;
        font-size: 1.2rem;
    }

}