@media only screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        justify-content: flex-end;
    }

}

/* FOOTER */
@media (min-width: 40rem) {
    .hero-img {
        min-width: 100%;
        height: auto;
        display: block;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}