/*----------COLOR SCHEME---------------*/
:root {
    /* ---------- COLOR PALETTE ---------- */
    --color-dark-gray: #444444;
    --color-teal: #94C6C7;
    --color-red: #D9534F;
    --color-light-red: #FDEDED;
    --color-green: #2E8B57;
    --color-light-green: #CFEDEA;
    --color-white: #ffffff;
    --color-light-teal: #EEF6F6;
    --color-text-dark: #333333;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

/*----------HEADER---------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px var(--color-teal);
}

header img {
    display: block;
    width: 100%;
    height: auto;

}

header span {
    font-size: 1.2rem;
    color: var(--color-text-dark);
}

/*--------------HAMBURGER------------------*/
.hamburger {
    background: none;
    border: none;
    color: var(--color-text-dark);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/*--------------NAVIGATION------------------*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--color-text-dark);
    text-decoration: none;
    border-bottom: solid 1px var(--color-teal);
}

.navigation li.current {
    background-color: var(--color-light-teal);
}


.navigation a:hover {
    background-color: var(--color-teal);
    color: #000;
}

/*-----------MAIN CONTENT---------------*/

/*---------FOOTER-------------*/
footer {
    border-bottom: solid 1px var(--color-teal);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5rem;
}

footer p {
    display: flex;
    justify-content: center;
    /* optional: centers them horizontally */
    align-items: center;
    gap: 10px;
    /* space between images */
    padding: .5rem;
}

footer p img {
    height: 60px;
    /* optional: keep them uniform */
    width: auto;
}