/*----------COLOR SCHEME---------------*/
:root {
    /* ---------- COLOR PALETTE ---------- */
    --color-dark-gray: #444444;
    --color-teal: #94C6C7;
    --color-red: #D9534F;
    --color-light-red: #FDEDED;
    --color-green: #2E8B57;
    --color-light-green: #CFEDEA;
    --color-white: #ffffff;
    --color-light-teal: #EEF6F6;
    --color-text-dark: #333333;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

/*----------HEADER---------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 5px 10px;
    column-gap: 8px;
    border-bottom: solid 1px var(--color-teal);
}

header img {
    display: block;
    width: 100%;
    height: auto;

}

header span {
    font-size: 1.2rem;
    color: var(--color-text-dark);
}

/*--------------HAMBURGER------------------*/
.hamburger {
    background: none;
    border: none;
    color: var(--color-text-dark);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/*--------------NAVIGATION------------------*/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--color-text-dark);
    text-decoration: none;
    border-bottom: solid 1px var(--color-teal);
}

.current a {
    display: block;
    padding: .8rem 10px;
    color: var(--color-white);
    background-color: var(--color-black);
    text-decoration: none;
    border-bottom: solid 1px var(--color-teal);
}




.navigation a:hover {
    background-color: var(--color-text-dark);
    color: var(--color-white);
}

/*-----------MAIN CONTENT---------------*/
main {
    position: relative;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

/* Base (mobile) */
.keynote {
    position: absolute;
    right: 5%;
    bottom: 60%;
    padding: 0.75rem 1.25rem;
    background-color: var(--color-black);
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--color-white);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.keynote:hover {
    background-color: var(--color-dark-gray);
    transform: scale(1.05);
    color: var(--color-white);
}

.hero-img {
    max-width: 100%;
    height: auto;
    display: block;
}

h2 {
    padding: .5rem;
    background: var(--color-dark-gray);
    color: var(--color-white);
    text-align: left;
}

.content {
    padding: 1rem;
    background-color: var(--color-light-teal);
    min-height: 150px;
    border: solid 1px var(--color-teal);
}

.dynamic {
    grid-column: 1/-1;
    padding: 1rem;
    background-color: var(--color-light-teal);
    min-height: 150px;
    border: solid 1px var(--color-teal);
}

h1 {
    grid-column: 1/-1;
}

/*---------FOOTER-------------*/
footer {
    border-bottom: solid 1px var(--color-teal);
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: .5rem;
}

footer p {
    display: flex;
    justify-content: center;
    /* optional: centers them horizontally */
    align-items: center;
    gap: 10px;
    /* space between images */
    padding: .5rem;
}

footer p img {
    height: 35px;
    /* optional: keep them uniform */
    width: auto;
}