/* large.css */
@media (min-width: 650px) {
    #menuButton {
        display: none;
    }

    #navMenu {
        display: block !important;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: var(--color-white);
    }

    nav li {
        border-left: solid 2px var(--color-white);
    }

    nav a {
        text-decoration: none;
        color: #111827;
        font-weight: 500;
    }

    .proile-img {
        max-width: 100%;
    }

    .sec-1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    .sec-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        padding: 2rem;
    }
}

/* Tablet screens */
@media (min-width: 650px) {
    #courseContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop screens */
@media (min-width: 1024px) {
    #courseContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}