/*----------COLOR SCHEME---------------*/
:root {
    /* ---------- COLOR PALETTE ---------- */
    --color-dark-gray: #444444;
    --color-teal: #94C6C7;
    --color-red: #D9534F;
    --color-light-red: #FDEDED;
    --color-green: #2E8B57;
    --color-light-green: #CFEDEA;
    --color-white: #ffffff;
    --color-light-teal: #EEF6F6;
    --color-text-dark: #333333;
    --color-black: #000000;
}

* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: var(--color-teal);
    color: var(--color-black);
}

div {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-light-green);
    color: var(--color-black);
    border: solid 1px #073240;
}

li {
    margin: 1rem;
}

main {
    margin: auto;
    max-width: 640px;
}

footer {
    background-color: var(--color-teal);
    color: var(--color-black);
    padding: 1rem;
    text-align: center;
}