:root {
    --color-primary1-blue: #106DC9;
    --color-primary2-blue: #107293;
    --color-secondary-green: #073240;
    --color-neutral-light: #E8F7FC;
    --color-neutral-dark: #BFEAF8;
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: var(--color-primary1-blue);
    color: var(--color-white);
}

div {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-neutral-light);
    color: var(--color-black);
    border: solid 1px #073240;
}

li {
    margin: 1rem;
}

main {
    margin: auto;
    max-width: 640px;
}

footer {
    background-color: var(--color-primary1-blue);
    color: var(--color-white);
    padding: 1rem;
    text-align: center;
}